pipeline/PL_ADF_KEY_RETRIEVAL.json
{
	"name": "PL_ADF_KEY_RETRIEVAL",
	"properties": {
		"activities": [
			{
				"name": "Web retrieve from AKV",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://keyvltlrn.vault.azure.net/secrets/ADBPAT/8e31b2a946104ce28e7c8fb82c944c31?api-version=7.3",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web retrieve from AKV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ADB",
					"value": {
						"value": "@activity('Web retrieve from AKV').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"ADB": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-02-16T15:47:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}