pipeline/PL_Generic_File_Load.json
{
	"name": "PL_Generic_File_Load",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Folder",
						"type": "DatasetReference",
						"parameters": {
							"FolderName": {
								"value": "@pipeline().parameters.SourceFolder",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_FileParam",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@pipeline().parameters.SourceFolder",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LS_ADLS_Binary",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": {
											"value": "@pipeline().parameters.ADLSContainerName",
											"type": "Expression"
										},
										"FolderName": {
											"value": "@pipeline().parameters.ADLSDirectoryName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Insert Log Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[InsertLog]",
								"storedProcedureParameters": {
									"BronzeCount": {
										"value": {
											"value": "@activity('Copy data').output.filesWritten",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"DbName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunStatus": {
										"value": "Sucess",
										"type": "String"
									},
									"ServerName": {
										"value": {
											"value": "@pipeline().parameters.SourceFolder",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceCount": {
										"value": {
											"value": "@activity('Copy data').output.filesRead",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"TableName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"error": {
										"value": "",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DS_SQL_CONFIG",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Insert Log Failure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[InsertLog]",
								"storedProcedureParameters": {
									"BronzeCount": {
										"value": {
											"value": "@activity('Copy data').output.filesWritten",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"DbName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunStatus": {
										"value": "Sucess",
										"type": "String"
									},
									"ServerName": {
										"value": {
											"value": "@pipeline().parameters.SourceFolder",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceCount": {
										"value": {
											"value": "@activity('Copy data').output.filesRead",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"TableName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"error": {
										"value": {
											"value": "@activity('Copy data').error?.message",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DS_SQL_CONFIG",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceFolder": {
				"type": "string",
				"defaultValue": "\\\\DESKTOP-2EUE7DP\\SampleFiles"
			},
			"ADLSContainerName": {
				"type": "string",
				"defaultValue": "landingbronze"
			},
			"ADLSDirectoryName": {
				"type": "string",
				"defaultValue": "Files"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-02-24T21:08:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}